body{
  background-color:black;
  padding-top:40px;
  font-family: 'Muli', sans-serif;
  color:white;
}

.panel {
	background:rgba(0,0,0,0);
	border-style:solid;
    border-color:white;
	border-radius:2;
}

.panel-body {
	background:rgba(0,0,0,0);
	border-style:solid;
    border-color:white;
	border-radius:2;
}

.btn.btn-latest{
    background-color:transparent;
    border-style:solid;
    border-color:#462A51;
    color:#462A51;
  border-radius:0;
  margin:5px;
}

.btn.btn-latest:hover{
    background-color:#462A51;
    color:#fff;
  border-radius:0;
  margin:5px;
}

.btn.btn-heart{
    background-color:transparent;
    border-style:solid;
    border-color:#462A51;
    color:#462A51;
  border-radius:0;
  margin:5px;
}

.btn.btn-heart.active{
    background-color:#462A51;
    color:#fff;
  border-radius:0;
  margin:5px;
}

.fa.fa-heart{
  color:#c79dd7;
}

#right-bar{
  color:#fff;
}

.img:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}

a{
  color:#fff;
}

.starfield { height:100%; left:0; position:fixed; top:0; width:100%; z-index:0;
z-index:-10}

canvas {
	z-index: -10;
	display: block;
	position:fixed;
	top: 0px;
	left: 0px;
}